name: Generate and Release from Changelog

on:
  push:
    branches:
      - main

permissions:
  contents: write
  repository-projects: write

jobs:
  generate-and-release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.x'
      
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt

      - name: Regenerate CHANGELOG.md
        run: python3 generator.py
      
      - name: Create releases from changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python3 create-release.py
        #run: python3 delete-releases.py
